@*<script>
    alert("Hello JavaScript");
    alert(15 + 25);
</script>*@

<h1>GPA Calculator</h1>
<form>
    <input id="class1" type="text" placeholder="Enter letter grade" />
    <input id="class2" type="text" placeholder="Enter letter grade" />
    <input id="class3" type="text" placeholder="Enter letter grade" />
    <input id="class4" type="text" placeholder="Enter letter grade" />
    <input id="class5" type="text" placeholder="Enter letter grade" />

    <input type="button" value="Caclulate" onclick="calculateGPA()"/>
</form>
<h3 id="GPA">GPA:</h3>